<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stationName</key>
		<string>Churchtown</string>
		<key>title</key>
		<string>PurpleAir</string>
		<key>description</key>
		<string>59111</string>
		<key>latitude</key>
		<real>53.30047</real>
		<key>longitude</key>
		<real>-6.258454</real>
	</dict>
	<dict>
		<key>stationName</key>
		<string>Rathmines</string>
		<key>title</key>
		<string>WAQI</string>
		<key>description</key>
		<string>Rathmines</string>
		<key>latitude</key>
		<real>53.3218816</real>
		<key>longitude</key>
		<real>-6.2655052</real>
	</dict>
	<dict>
		<key>stationName</key>
		<string>Dublin</string>
		<key>title</key>
		<string>SmartCitizen</string>
		<key>description</key>
		<string>10507</string>
		<key>latitude</key>
		<real>53.4435160335123</real>
		<key>longitude</key>
		<real>-6.34649276733398</real>
	</dict>
</array>
</plist>
